@import url('https://fonts.googleapis.com/css?family=Roboto|Pacifico');
@import url('https://fonts.googleapis.com/css?family=Arbutus Slab');
@import url('slideshow.css');
@import url('navigation.css');
@import url('animation.css');
@import url('menu.css');
@import url('scroll.css');
@import url('icons.css');


body {
    margin: 0;
    background-color: #FFF9FB;
}

* {
    box-sizing: border-box; /* make width and height include margins and padding */
}


html {
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0px;
}

.footer {
    margin: 0;
    padding: 25px;
    width: 100%;
    background-color: #93292C;
    color: #FFF9FB;
}


.menuScreenImage {
    width: 100%;
    height: 100vh;
    height: auto;
}



.hideOnMobile {}
.hideOnTablet {}



.right {
    float: right;
    margin-left: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.left {
    float: left;
    margin-right: 15px;
    margin-top: 0px;
    margin-bottom: 15px;
}

.center {
    width: 100%;
}

.text-centered {
    width: 100%;
    text-align: center;
}





div.banner {
    width: 750px;
    margin: 0 auto;
    padding: 0;
    clear: both;

    height: 350px;
    border: 1px solid red;
    margin-top: 20px;
    margin-bottom: 40px;
}

.title{
    color: white;
    font-size: 50px;
    font-family: 'Arbutus Slab';
    font-weight: normal;
    text-shadow: 2px 2px 20px #000000;
    padding-left: 45px;
    padding-right: 30%;
    padding-top: 120px;
    position: absolute;
}

h2{
    padding-top: 10px;
    color: #93292C;
}
#centered{text-align: center;}

p{
	text-align: justify;
}

#big-text {
    font-size: 1.5em;
}




div.content {
    width: 800px;
    margin: 0 auto;
    height: auto;
    padding: 0px 25px;
    clear: both;
}

div.content-wide {
    margin: 0 auto;
    padding: 0;
    width: 750px;
}

#boxed {
    border: 1px solid red;
}

.map{
    width: 100%;
    height: 400px;
    padding: 0;
}

.map iframe {
    border: 0;
    padding: 0;
    margin: 0;
}




/* TABLET */
@media screen and (max-width: 800px) {
    div.content, div.content-wide {
        margin-left: 0;
        margin-right: 0;
        width: 100%;
    }

    div.banner {
        margin-top: 0;
        width: 100%;
        border-width: 0;
    }

    div.content-wide {
        padding-left: 0px;
        padding-right: 0px;
    }

    .right, .left {
        width: 55%;
    }

    .hideOnTablet {
        display: none;
    }

    .title{
        padding-right: 0px;
    }
}

/* PHONE */
@media screen and (max-width: 500px) {
    ul.nav li a {
        text-align: center;
        float: none;
    }

    div.content, div.content-wide {
    }

    .right, .left {
        clear: both;
        width: 100%;
    }

    .hideOnMobile {
        display: none;
    }
}


@media print {
    img, .gallery, .banner, .nav, #button_backToTop, a {
        display: none !important;
    }
    body {
        font-family: 'Arial', sans-serif;
    }
}